.navbar {
  width: 100vw;
  height: 90px;
  background-color: rgb(2 6 23);
  padding: 5px;

  img {
    margin-top: -35px;
    width: 200px;
    height: 150px;
    cursor: pointer;
  }
}

.table {
  background-color: white;
}
